/Billiards-Game/[Ll]ibrary/
/Billiards-Game/[Tt]emp/
/Billiards-Game/[Oo]bj/
/Billiards-Game/[Bb]uild/
/Billiards-Game/[Bb]uilds/
/Billiards-Game/[Ll]ogs/
/Billiards-Game/[Uu]ser[Ss]ettings/

/Billiards-Game/[Mm]emoryCaptures/

/Billiards-Game/[Rr]ecordings/

/Billiards-Game/[Aa]ssets/Plugins/Editor/JetBrains*

/Billiards-Game/.vs/

/Billiards-Game/.gradle/

/Billiards-Game/ExportedObj/
/Billiards-Game/.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

/Billiards-Game/sysinfo.txt

*.apk
*.aab
*.unitypackage
*.app

/Billiards-Game/crashlytics-build.properties

/Billiards-Game/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

/Billiards-Game/[Aa]ssets/[Ss]treamingAssets/aa.meta
/Billiards-Game/[Aa]ssets/[Ss]treamingAssets/aa/*
